/*
 * Copyright 2016 Contactless Devices, LLC.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	description = "WBIO-DIO-TTL-8: TTL GPIO I/O module";
	compatible-slots = "wb5-extio";
	
	#define WBIO_NAME wbio_dio_ttl_8
	#define WBIO_OUTPUT
	#include "wbio.dtsi"

	fragment-gpio {
		target-path = "/wirenboard/gpios";

		__overlay__ {
			GPIO_NAME_ALIAS(TTL1) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 0 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(01)>;
			};
			GPIO_NAME_ALIAS(TTL2) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 1 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(02)>;
			};
			GPIO_NAME_ALIAS(TTL3) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 2 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(03)>;
			};
			GPIO_NAME_ALIAS(TTL4) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 3 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(04)>;
			};
			GPIO_NAME_ALIAS(TTL5) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 4 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(05)>;
			};
			GPIO_NAME_ALIAS(TTL6) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 5 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(06)>;
			};
			GPIO_NAME_ALIAS(TTL7) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 6 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(07)>;
			};
			GPIO_NAME_ALIAS(TTL8) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 7 0>;
				output-high;
				sort-order = <GPIO_SORT_ORDER(08)>;
			};
		};
	};
};
