/*
 * Copyright 2015 Contactless Devices, LLC.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	description = "WBIO-DI-DR-8: Digital inputs (dry contact) I/O module";
	compatible-slots = "wb5-extio";
	compatible = "contactless,imx28-wirenboard52";
	
	#define WBIO_NAME wbio_di_dr_8
	#include "wbio.dtsi"
};
