#ifdef WBIO_INPUT
#define SLOT_I2C_ADDRESS SLOT_I2C_ADDRESS_IN
#endif

#ifdef WBIO_OUTPUT
#define SLOT_I2C_ADDRESS SLOT_I2C_ADDRESS_OUT
#endif
fragment {
	target = <SLOT_I2C_ALIAS>;

	__overlay__ {
		SLOT_DT_ALIAS(WBIO_NAME): SLOT_DT_ALIAS(WBIO_NAME)@SLOT_I2C_ADDRESS {
			compatible = "microchip,mcp23008";
			gpio-controller;
			__gpio-cells = <2>;
			reg = <HEX_PREFIX(SLOT_I2C_ADDRESS)>;

			microchip,irq-open-drain;

			interrupt-parent = <SLOT_GPIO_PORT_ALIAS(INT)>;
			interrupts = <SLOT_GPIO_SPEC(INT) IRQ_TYPE_NONE>;
			interrupt-controller;
			__interrupt-cells=<2>;

			linux,gpio-base = <SLOT_GPIO_BASE_8>;
			#if defined(GPIO_LINE_NAMES)
				gpio-line-names = GPIO_LINE_NAMES;
			#endif
		};
	};
};
