/*
 * Copyright 2016-2018 Contactless Devices, LLC.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
    description = "WBIO-DI-LVD-8: Low Voltage Digital Inputs I/O module";
	compatible-slots = "wb5-extio";
	
	#define WBIO_NAME wbio_di_lvd_8
	#define WBIO_INPUT
	#include "wbio.dtsi"

	fragment-gpio {
		target-path = "/wirenboard/gpios";

		__overlay__ {
			GPIO_NAME_ALIAS(IN1) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 0 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(01)>;
			};
			GPIO_NAME_ALIAS(IN2) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 1 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(02)>;
			};
			GPIO_NAME_ALIAS(IN3) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 2 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(03)>;
			};
			GPIO_NAME_ALIAS(IN4) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 3 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(04)>;
			};
			GPIO_NAME_ALIAS(IN5) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 4 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(05)>;
			};
			GPIO_NAME_ALIAS(IN6) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 5 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(06)>;
			};
			GPIO_NAME_ALIAS(IN7) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 6 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(07)>;
			};
			GPIO_NAME_ALIAS(IN8) {
				io-gpios = <&SLOT_DT_ALIAS(WBIO_NAME) 7 0>;
				input;
				sort-order = <GPIO_SORT_ORDER(08)>;
			};
		};
	};
};
