/ {
    description = "WBMZ2 Battery";
    compatible-slots = "wb6-batt";

	fragment {
		target-path = "/";
		
		__overlay__ {
			wbmz2_i2c: wbmz2_i2c@0 {
				compatible = "i2c-gpio";
				gpios = <SLOT_GPIO(SDA)
						 SLOT_GPIO(SCL)
						>;
				i2c-gpio,delay-us = <20>;       /* ~100 kHz */
				status = "okay";
				__address-cells = <1>;
				__size-cells = <0>;
			};
		};
	};
};
