Source: wb-hwconf-manager
Section: misc
Priority: extra
Maintainer: Alexey Ignatov <lexszero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: wb-hwconf-manager
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf, wb-utils (>= 1.53), wb-configs (>= 1.63), wb-mqtt-homeui (>= 1.3.5), perl, jq, tcc, device-tree-compiler (>= 1.4.1+wb20160117000000), linux-image-4.1.15-imxv5-x0.1, mqtt-tools (>= 1.1.1)
Description: Provides infrastructure for hardware re-configuration via Device Tree overlays
