#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

%:
	dh $@

override_dh_installinit:
	dh_installinit --noscripts

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-after-upgrade

override_dh_builddeb:
	dh_builddeb -- -Zgzip
