#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_test:
	@echo "*** tests are disabled during package building" 1>&2
