[Unit]
Description=Initialize Wiren Board Device Tree overlays
Before=networking.service
After=local-fs.target wb-configs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/lib/wb-hwconf-manager/firstboot.sh
ExecStart=/usr/lib/wb-hwconf-manager/init.sh
TimeoutSec=180

[Install]
WantedBy=multi-user.target
RequiredBy=wb-mqtt-adc.service wb-mqtt-gpio.service
