[Unit]
Description=Initialize Wiren Board Device Tree overlays
After=local-fs.target wb-configs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/wb-hwconf-manager/init.sh

[Install]
WantedBy=multi-user.target
